<div class="col" style="padding-left: 0;">
    <div class="main__wrapper">
        <div class="header__main">
            <h2>Logs</h2>
            <p>This is log page</p>
        </div>
        <div class="log__wrapper">
            <div class="log__container">
                <div class="log__table-header">
                    <h4 class="log__table-heading">Logs</h4>
                </div>
                <div class="log__table-container">
                    <table class="table log__table">
                        <thead>
                            <tr>
                                <th scope="col">ID thiết bị</th>
                                <th scope="col">Địa chỉ IP</th>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Cảm biến</th>
                                <th scope="col">Giá trị</th>
                                <th scope="col">Thời gian</th>
                            </tr>
                        </thead>
                        <tbody class="log__table-body">
                            <!-- <tr>
                                <td>13832938</td>
                                <td>192.168.1.1</td>
                                <td>Wemos D1</td>
                                <td>Nhiệt độ</td>
                                <td>32</td>
                                <td>30/04/2022</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const logs = JSON.parse('<%- JSON.stringify(logs) %>');

    const logTableBody = document.querySelector('.log__table-body');

    const logsHTML = logs.map(deviceLog => {
        const deviceLogData = deviceLog.data
        let date = new Date(deviceLogData.date);
        date = date.toLocaleDateString();
        return `
            <tr>
                <td>${deviceLogData.deviceId}</td>
                <td>${deviceLogData.ipAddress}</td>
                <td>${deviceLogData.deviceName}</td>
                <td>${deviceLogData.sensor}</td>
                <td>${deviceLogData.value}</td>
                <td>${date}</td>
            </tr>
        `;
    }).join('');

    logTableBody.innerHTML = logsHTML;
</script>