<div class="col" style="padding-left: 0;">
    <div class="main__wrapper">
        <div class="header__main">
            <h2>Main</h2>
            <p>This is main page</p>
        </div>
        <div class="main-page__wrapper">
            <div class="main-page__container">
                <div class="sensor-table__header">
                    <h4 class="sensor-table__heading">Control devices</h4>
                </div>
                <div class="sensor-table__body">
                    <div class="sensor-table__value d-flex">
                        
                    </div>
                    <div class="sensor-table__led">
                        <h4>Devices</h4>
                        <div class="d-flex">
                            <div class="led__container d-flex">
                            </div>
                            <div class="pump__container">

                            </div>
                            <div class="servo__container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function fetchJSON(url) {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    }

    fetchJSON('/api/main/sensors').then(sensors => {
        const sensorsTable = document.querySelector('.sensor-table__value');
        const sensorsHTML = sensors.map(sensor => {
            return `
                <div class="value-sensor">
                    <div>
                        <p class="name">${sensor.data.name}</p>
                        <p class="value">${sensor.data.value} ${sensor.data.unit}</p>
                    </div>
                    <div>
                        <img src="${sensor.data.icon}" alt="">
                    </div>
                </div>
            `;
        }).join('');
        sensorsTable.innerHTML = sensorsHTML;
    })

    fetchJSON('/api/main/controls/led').then(led => {
        const ledContainer = document.querySelector('.led__container');
        const ledObj = {
            label: led.status ? 'On' : 'Off',
            className: led.status ? 'led-on' : 'led-off'
        }

        const ledsHTML = `
            <div class="led__device">
                <p id=${+led.id} class="led-name">${led.name}</p>
                <div class="led-label__container">
                    <button class="btn-led ${ledObj.className}">${ledObj.label}</button>
                </div>
            </div>
        `;
        ledContainer.innerHTML = ledsHTML;

        const btnLeds = document.querySelectorAll('.btn-led')
        btnLeds.forEach(btnLed => {
            btnLed.addEventListener('click', (e) => {
                const ledButton = e.target
                ledId = ledButton.closest('.led__device').querySelector('.led-name').id
                changeLedStatus(ledButton)
                sendajax(ledId)

            })
        })
    })

    fetchJSON('')

    var sendajax = function(ledId) {
        var xhttp = new XMLHttpRequest()

        xhttp.onreadystatechange = function() {
            if (this.status == 200) {
                console.log(this.responseText);
            }
        }

        xhttp.open('POST', 'http://localhost:5000/api/main/sensor/change-led-status', true)
        // xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhttp.send();
    }

    function changeLedStatus(ledButton) {
        const ledButtonClassName = ledButton.className.split(' ')[1]
        const ledButtonLabel = ledButton.innerText
        const ledObj = {
            label: ledButtonLabel == 'Off' ? 'On' : 'Off',
            className: ledButtonClassName == 'led-off' ? 'led-on' : 'led-off'
        }

        ledButton.innerText = ledObj.label
        ledButton.className = ['btn-led', ledObj.className].join(' ')
    }
</script>